<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Navbar</a>
  <% if user_signed_in? %>
  	<%= link_to "logout", destroy_user_session_path, method: :delete %>
  <% else %>
  	<%= render "pages/login" %>
		<%= link_to "Sign up", new_user_registration_path %>
  <% end %>
</nav>